h1 {
    color: brown:aliceblue }
    img {
     width: 400px;
 }
 
    #thirdDiv{
     height: 600px;
     width: 500px;
     background-color: black
                                    
     
   
 }    
    #spanId{
     font-size: 22px;
     margin: 70px;
   
 }                       